.about-us {
  .header-text(17px, 20px);
  margin-bottom: 56px;

  @media (min-width: @tablet-width) {
    .header-text(20px, 22px);
    margin-bottom: 83px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    margin-bottom: 90px;
  }
}

.about-us__wrapper {
  @media (min-width: @desktop-width) {
    padding-left: 175px;
  }
}

.about-us__title {
  .header-text(25px, 30px);
  margin: 0;

  @media (min-width: @tablet-width) {
    .header-text(43px, 50px);
    margin-bottom: 16px;
  }

  @media (min-width: @desktop-width) {
    .header-text(53px, 57px);
    margin-bottom: 14px;
  }
}

.about-us__list {
  .no-markers();

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 27px;
  }

  @media (min-width: @desktop-width) {
    width: 80%;
  }
}

.about-us__item {
  padding-top: 83px;
  position: relative;

  &--flower {
    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 32px;
      height: 37px;
      background-image: url("../img/icon-feature-flower.svg");
      background-repeat: no-repeat;
      top: 28px;
      left: 8px;
    }

    @media (min-width: @tablet-width) {
      order: 0;
    }
  }

  &--money {
    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 47px;
      height: 28px;
      background-image: url("../img/icon-feature-money.svg");
      background-repeat: no-repeat;
      top: 29px;
      left: 0;
    }

    @media (min-width: @tablet-width) {
      order: 2;
    }
  }

  &--heart {
    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 33px;
      height: 28px;
      background-image: url("../img/icon-feature-heart.svg");
      background-repeat: no-repeat;
      top: 34px;
      left: 7px;
    }

    @media (min-width: @tablet-width) {
      order: 4;
    }
  }

  &--yarn {
    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 34px;
      height: 34px;
      background-image: url("../img/icon-feature-ball.svg");
      background-repeat: no-repeat;
      top: 31px;
      left: 3px;
    }

    @media (min-width: @tablet-width) {
      order: 1;
    }
  }

  &--rocket {
    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 55px;
      height: 23px;
      background-image: url("../img/icon-feature-rocket.svg");
      background-repeat: no-repeat;
      top: 32px;
      left: -5px;
    }

    @media (min-width: @tablet-width) {
      order: 3;
    }
  }

  &--gift {
    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 33px;
      height: 32px;
      background-image: url("../img/icon-feature-gift.svg");
      background-repeat: no-repeat;
      top: 30px;
      left: 3px;
    }


    @media (min-width: @tablet-width) {
      order: 5;
    }
  }
}
