.button {
  .header-text(17px, 20px, @text-black);
  text-transform: uppercase;
  display: inline-block;
  width: 260px;
  min-height: 52px;
  border: 2px solid @text-black;
  padding: 14px 15px;
  box-sizing: border-box;
  text-align: center;

  &--contacts {
    font-size: 18px;

    @media (min-width: @tablet-width) {
      width: 230px;
      display: block;
      margin: 0 auto;
    }

    @media (min-width: @desktop-width) {
      margin: 0;
    }
  }

  &--feature-product {
    @media (min-width: @tablet-width) {
      width: 292px;
    }
  }

  &--video {
    width: 192px;
  }

  &--submit {
    @media (min-width: @tablet-width) {
      width: 230px;
    }
  }
}
