.categories {
  background-color: @hero-bg-color;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-position-x: center;
  background-position-y: -17px;
  background-repeat: no-repeat;
  margin-bottom: 30px;
  position: relative;

  @media (min-resolution: @retina-dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
    background-size: 179%;
  }

  &--main {
    background-color: @hero-bg-color;
  }


  @media (min-width: @tablet-width) {
    min-height: 682px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 51px;
    background-image: url("../img/hero-tablet@1x.jpg");
    background-position-y: -65px;

    @media (min-resolution: @retina-dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
      background-size: 1150px auto;
    }

    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 23px;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-size: contain;
      bottom: -10px;
      left: 0;
    }
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 54px;
    background-image: url("../img/hero-desktop@1x.jpg");

    @media (min-resolution: @retina-dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
    }

    &::after {
      background-image: url("../img/bg-zigzag-fill-desktop.svg");
      height: 34px;
      background-size: 100% 100%;
      bottom: -16px;
      left: 0;
    }
  }
}

.categories__wrapper {
  min-height: 283px;
  padding: 72px 30px;

  @media (min-width: @tablet-width) {
    padding: 90px 50px 50px 50px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 92px;
  }
}

.categories__wrapper-header {
  .header-text(27px, 30px, @fcking-nonsence-black);
  margin: 0;
  text-align: center;

  @media (min-width: @tablet-width) {
    .header-text(43px, 50px);
  }

  @media (min-width: @desktop-width) {
    .header-text(53px, 57px);
  }
}

.categories__list {
  .no-markers;

  @media (min-width: @tablet-width) {
    display: flex;
  }
}

.categories__item {
  width: 100%;
  min-height: 103px;
  margin: 0;

  &--interior {
    background-color: @main-cyan;

    &:hover,
    &:focus {
      background-color: @main-cyan-hover;

      @media (min-width: @tablet-width) {
        transform: translateY(-5px);
        transition-timing-function: ease-out;
        transition-duration: 0.5s;
      }
    }
  }

  &--toys {
    background-color: @dark-cyan;

    &:hover,
    &:focus {
      background-color: @dark-cyan-hover;

      @media (min-width: @tablet-width) {
        transform: translateY(-5px);
        transition-timing-function: ease-out;
        transition-duration: 0.5s;
      }
    }
  }
}

.categories__item:hover .categories__link-icon,
.categories__item:focus .categories__link-icon {
  opacity: 0.7;
}

.categories__item:active .categories__link-icon {
  opacity: 0.3;
}

.categories__link {
  display: block;
  position: relative;
  width: 100%;
  min-height: 103px;
  padding: 24px 160px 31px 30px;

  @media (min-width: @tablet-width) {
    padding: 25px 167px 34px 36px;
  }
}

.categories__link-icon {
  fill: @icon-cyan;
  opacity: 0.5;

  &--interior {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 62px;
    top: 22px;
    right: 36px;

    @media (min-width: @tablet-width) {
      top: 29px;
    }
  }

  &--toys {
    content: "";
    position: absolute;
    display: block;
    width: 60px;
    height: 60px;
    top: 20px;
    right: 27px;

    @media (min-width: @tablet-width) {
      top: 31px;
      right: 34px;
    }
  }
}

.categories__link-title {
  .header-text(19px, 24px, @basic-white);
  margin: 0;

  @media (min-width: @tablet-width) {
    .header-text(20px, 30px, @basic-white);
  }
}
