.categories {
  background-color: @header-bg-color;
  margin-bottom: 31px;

  @media (min-width: @tablet-width) {
    min-height: 682px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 51px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 54px;
  }
}

.categories__wrapper {
  min-height: 283px;
  padding: 73px 30px;

  @media (min-width: @tablet-width) {
    padding: 90px 50px 50px 50px;
  }
}

.categories__wrapper-header {
  .header-text(27px, 30px, @fcking-nonsence-black);
  margin: 0;
  text-align: center;

  @media (min-width: @tablet-width) {
    .header-text(43px, 50px);
  }

  @media (min-width: @desktop-width) {
    .header-text(53px, 57px);
  }
}

.categories__list {
  .no-markers;

  @media (min-width: @tablet-width) {
    display: flex;
  }
}

.categories__item {
  width: 100%;
  min-height: 103px;
  margin: 0;

  &--interior {
    background-color: @main-cyan;
  }

  &--toys {
    background-color: @dark-cyan;
  }
}

.categories__link {
  display: block;
  width: 100%;
  min-height: 103px;
  padding: 24px 160px 31px 30px;

  @media (min-width: @tablet-width) {
    padding: 25px 167px 34px 36px;
  }
}

.categories__link-title {
  .header-text(19px, 24px, @basic-white);
  margin: 0;

  @media (min-width: @tablet-width) {
    .header-text(20px, 30px, @basic-white);
  }
}
