.contacts {
  .normal-text(15px, 30px);
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    .normal-text(17px, 30px);
    margin-bottom: 17px;
    align-items: stretch;
  }

  @media (min-width: @desktop-width) {
    min-height: 457px;
    display: grid;
    grid-template-rows: 1fr min-content;
    margin-bottom: 66px;
    position: relative;
  }
}

.contacts__title {
  margin-top: 0;
  margin-bottom: 27px;
  .header-text(18px, 30px);
  position: relative;

  @media (min-width: @tablet-width) {
    .header-text(43px, 50px);
    padding-right: 50px;
    margin-bottom: 50px;
  }

  @media (min-width: @desktop-width) {
    .header-text(53px, 57px);
    padding: 0;
    margin-bottom: 36px;
  }

  &::after {
    @media (min-width: @tablet-width) {
      content: "";
      position: absolute;
      display: block;
      width: 47px;
      height: 81px;
      background-image: url("../img/icon-flag.svg");
      top: -22px;
      right: 3px;
    }

    @media (min-width: @desktop-width) {
      top: -17px;
      left: -112px;
    }
  }
}

.contacts__table {
  border-collapse: collapse;
  margin-bottom: 32px;

  @media (min-width: @tablet-width) {
    margin-bottom: 48px;
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}

.contacts__table-body {
  display: grid;
  grid-template-rows: 1fr 2fr;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    grid-row-gap: 15px;
  }
}

.contacts__cell {
  padding: 0;

  &--left {
    width: 76px;
    vertical-align: top;
  }
}

.contacts__mail {
  color: @text-black;
  border-bottom: 1px solid @input-button;
  padding-bottom: 3px;

  @media (min-width: @desktop-width) {
    padding-bottom: 7px;
  }

  &:hover,
  &:focus {
    color: @dark-cyan-hover;
  }

  &:active {
    border: none;
  }
}

.contacts__map {
  margin-bottom: 39px;
  position: relative;

  @media (min-width: @tablet-width) {
    margin-bottom: 55px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
    position: absolute;
    top: 0;
    left: 50%;
  }

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 67px;
    height: 100px;
    background-image: url("../img/icon-map-pin.svg");
    top: 32%;
    left: 43%;
    z-index: 1;

    @media (min-width: @tablet-width) {
      top: 30%;
      left: 47%;
    }

    @media (min-width: @desktop-width) {
      top: 32%;
      left: 45%;
    }
  }
}

.contacts__map-pic {
  width: 322px;
  height: 457px;
  z-index: 0;

  @media (min-width: @tablet-width) {
    width: 100%;
    height: auto;
  }

  @media (min-width: @desktop-width) {
    width: 527px;
  }
}

.contacts__iframe {
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}
