.container {
  min-width: 320px;
  padding: 0 30px;

  @media (min-width: @tablet-width) {
    padding: 0 50px;
  }
}

.container--categories {
  padding: 0;

  @media (min-width: @tablet-width) {
    padding: 0 50px;
  }
}

.container--contacts {
  @media (min-width: @desktop-width) {
    width: 50%;
    padding-left: 225px;
    padding-top: 71px;
  }
}

.container--form {
  @media (min-width: @desktop-width) {
    padding-left: 110px;
    padding-right: 197px;
  }
}
