.contacts {
  margin-bottom: 39px;
  .normal-text(15px, 30px);

  &__title {
    margin-top: 0;
    margin-bottom: 28px;
    .header-text(18px, 30px);
  }
}

.contacts__wrapper {
  padding: 0 30px;
}

.contacts__table {
  border-collapse: collapse;
  margin-bottom: 32px;
}

.contacts__cell {
  &--left {
    width: 76px;
    vertical-align: top;
  }

  &--underlined {
    border-bottom: 1px solid @main-cyan;
  }
}

.contacts__mail {
  color: @text-black;
}

.contacts__map {
  margin-bottom: 39px;
}

