.contacts {
  .normal-text(15px, 30px);

  @media (min-width: @tablet-width) {
    .normal-text(17px, 30px);
  }

  @media (min-width: @desktop-width) {
    position: relative;
    min-height: 457px;
  }
}

.contacts__title {
  margin-top: 0;
  margin-bottom: 28px;
  .header-text(18px, 30px);

  @media (min-width: @tablet-width) {
    .header-text(43px, 50px);
  }

  @media (min-width: @desktop-width) {
    .header-text(53px, 57px);
  }
}

.contacts__table {
  border-collapse: collapse;
  margin-bottom: 32px;

  @media (min-width: @tablet-width) {
    margin-bottom: 48px;
    width: 100%;
  }
}

.contacts__table-body {
  @media (min-width: @tablet-width) {
    display: flex;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
  }
}

.contacts__row {
  @media (min-width: @tablet-width) {
    width: 50%;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
  }
}

.contacts__cell {
  &--left {
    width: 76px;
    vertical-align: top;
  }

  &--underlined {
    border-bottom: 1px solid @main-cyan;
  }
}

.contacts__mail {
  color: @text-black;
}

.contacts__map {
  margin-bottom: 39px;

  @media (min-width: @desktop-width) {
    position: absolute;
    top: 0;
    left: 50%;
  }
}

.contacts__map-pic {
  width: 322px;
  height: 457px;
  margin-bottom: 39px;

  @media (min-width: @tablet-width) {
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    width: 527px;
  }
}
