.copyright {
  display: flex;
  min-height: 80px;
  justify-content: center;

  @media (min-width: @tablet-width) {
    justify-content: flex-end;
    align-items: center;
  }
}

.copyright__text {
  .header-text(19px, 18px);
  margin-right: 29px;
}

.copyright__link {
  display: flex;
  align-items: center;

  @media (min-width: @tablet-width) {
    padding-bottom: 7px;
  }
}

.copyright__link-logo {
  fill: @main-cyan;
}

.copyright__link:hover .copyright__link-logo,
.copyright__link:focus .copyright__link-logo {
  fill: @dark-cyan-hover;
}

.copyright__link:active .copyright__link-logo {
  fill: @dark-cyan-hover;
  fill-opacity: 0.3;
}
