.form__container {
  padding-top: 17px;
  padding-bottom: 55px;
}

.form__intro {
  margin: 0;
  margin-bottom: 29px;
  .normal-text(13px, 24px);
  padding-top: 16px;

  @media (min-width: @tablet-width) {
    .normal-text(17px, 30px);
    margin-bottom: 40px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 115px;
  }
}

.form__control-list {
  .no-markers();

  &--type {
    padding-left: 60px;
    padding-top: 24px;
    padding-bottom: 29px;
    display: flex;
    flex-direction: column;

    @media (min-width: @tablet-width) {
      padding-left: 60px;
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  &--color {
    padding-left: 60px;
    padding-top: 25px;
    padding-bottom: 9px;

    @media (min-width: @tablet-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 82px;
      grid-row-gap: 15px;
    }

    @media (min-width: @desktop-width) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 120px;
    }
  }

  &--name {
    padding-top: 28px;
    padding-bottom: 13px;

    @media (min-width: @tablet-width) {
      padding: 0;
    }

    @media (min-width: @desktop-width) {
      padding: 0;
      padding-right: 28px;
    }
  }
}

.form__control-list--name li {
  @media (min-width: @tablet-width) {
    display: flex;
    align-items: baseline;
  }
}


.form__fieldset {
  .custom-form();

  &--type {
    @media (min-width: @tablet-width) {
      padding-top: 32px;
      padding-bottom: 21px;
    }
  }

  &--color {
    @media (min-width: @tablet-width) {
      background-color: @header-bg-color;
      padding-top: 26px;
      padding-bottom: 31px;
    }
  }

  &--name {
    @media (min-width: @tablet-width) {
      padding-top: 50px;
      padding-bottom: 26px;
    }
  }

  &--contacts {
    margin-bottom: 33px;

    @media (min-width: @tablet-width) {
      padding-top: 45px;
      padding-bottom: 47px;
      margin-bottom: 0;
      background-color: @header-bg-color;
    }
  }

  &--extra {
    @media (min-width: @tablet-width) {
      padding-top: 52px;
      padding-bottom: 54px;
    }

    @media (min-width: @desktop-width) {
      padding-bottom: 50px;
    }
  }
}

.form__fieldset-wrapper {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: baseline;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 115px 1fr;
  }
}


.form__legend {
  .custom-legend();
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 59px;
    top: 11px;
    width: 200px;
    height: 1px;
    border-top: 1px solid @input-button;

    @media (min-width: @tablet-width) {
      display: none;
    }
  }
}

.form__legend--email::after {
  position: absolute;
  left: 77px;
  top: 11px;
  width: 182px;
  height: 1px;
  border-top: 1px solid @input-button;
}

.form__label {
  .header-text(17px, 18px);
  display: block;
  position: relative;

  @media (min-width: @tablet-width) {
    .header-text(19px, 18px);
  }

  &--radio {
    min-height: 42px;
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 13px;

    @media (min-width: @tablet-width) {
      padding-left: 20px;
      padding-bottom: 46px;
    }
  }

  &--radio::before {
    content: "";
    position: absolute;
    left: -59px;
    top: 0;
    width: 38px;
    height: 38px;
    border: 2px solid @text-black;
    border-radius: 50%;

    @media (min-width: @tablet-width) {
      width: 51px;
      height: 51px;
      top: -8px;
    }
  }

  &--checkbox {
    min-height: 39px;
    margin-bottom: 22px;
    display: flex;
    align-items: center;

    @media (min-width: @tablet-width) {
      padding-left: 20px;
      padding-top: 8px;
    }
  }

  &--checkbox::before {
    content: "";
    position: absolute;
    left: -60px;
    top: -2px;
    width: 38px;
    height: 39px;
    border: 2px solid @text-black;

    @media (min-width: @tablet-width) {
      width: 54px;
      height: 52px;
    }
  }

  &--tel {
    margin-bottom: 34px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      right: 7px;
      top: 14px;
      width: 25px;
      height: 24px;
      background-image: url("../img/icon-phone.svg");
      opacity: 0.2;
    }

    @media (min-width: @tablet-width) {
      margin-bottom: 22px;

      &::after {
        right: 26px;
        top: 16px;
      }
    }

    @media (min-width: @desktop-width) {
      padding-right: 28px;
      margin-bottom: 22px;

      &::after {
        right: 35px;
      }
    }
  }

  &--email {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      right: 3px;
      top: 14px;
      width: 32px;
      height: 27px;
      background-image: url("../img/icon-mail.svg");
      opacity: 0.2;
    }

    @media (min-width: @tablet-width) {
      &::after {
        right: 23px;
        top: 14px;
      }
    }

    @media (min-width: @desktop-width) {
      padding-right: 28px;

      &::after {
        right: 32px;
        top: 14px;
      }
    }
  }
}

.form__control {
  .normal-text(17px, 18px);
  width: 100%;
  min-height: 51px;
  border-color: transparent;
  border: none;
  border-bottom: 2px solid @basic-black;
  background-color: transparent;
  padding: 0;

  @media (min-width: @tablet-width) {
    .normal-text(19px, 18px);
  }

  @media (min-width: @desktop-width) {
    .normal-text(19px, 18px);
  }

  &::placeholder {
    .normal-text(17px, 18px, @placeholder-black);

    @media (min-width: @tablet-width) {
      .normal-text(19px, 18px, @placeholder-black);
    }

    @media (min-width: @desktop-width) {
      .normal-text(19px, 18px, @text-black);
    }
  }

  &--text {
    margin-bottom: 22px;

    @media (min-width: @tablet-width) {
      margin-left: 25px;
      margin-bottom: 24px;
      padding-left: 19px;
      min-height: 52px;
    }
  }

  &--tel,
  &--email {
    min-height: 56px;
    padding-right: 41px;

    @media (min-width: @tablet-width) {
      padding-left: 17px;
      padding-right: 76px;
    }
  }

  &--textarea {
    min-height: 142px;
    padding: 15px;
    border: 2px solid @text-black;
    box-shadow: none;
    margin-top: 20px;

    @media (min-width: @tablet-width) {
      margin-top: 0;
    }

    @media (min-width: @desktop-width) {
      width: 96%;
    }
  }
}

.form__control--radio:checked + .form__label--radio::after {
  content: "";
  position: absolute;
  left: -48px;
  top: 10px;
  width: 16px;
  height: 16px;
  background-color: @input-button;
  border-radius: 50%;

  @media (min-width: @tablet-width) {
    left: -44px;
    top: 7px;
    width: 21px;
    height: 21px;
  }
}

.form__control--checkbox:checked + .form__label--checkbox::after {
  content: "";
  position: absolute;
  left: -58px;
  top: 4px;
  width: 39px;
  height: 36px;
  background-image: url("../img/icon-tick.svg");
  transform: scale(0.7, 0.7);
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    left: -49px;
    top: 15px;
    transform: scale(1, 1);
  }
}

.form__required {
  .normal-text(14px, 16px);
  margin-bottom: 30px;

  @media (min-width: @tablet-width) {
    .normal-text(17px, 30px);
    margin: 0;
  }
}

.form__submit {
  line-height: 16px;
  background-color: transparent;
  cursor: pointer;
  align-self: center;
}

.form__bottom-wrapper {
  padding-bottom: 55px;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
  }

  @media (min-width: @desktop-width) {
    padding-right: 227px;
    padding-left: 224px;
  }
}
