.main-nav {
  .header-text(17px, 24px);
  &__link {
    color: @basic-black;
    display: inline-block;
    margin-left: 76px;
  }
}

.main-nav__wrapper {
  width: 320px;
}

.main-nav__list {
  .no-markers;
}

.main-nav__item {
  min-height: 79px;
  border-bottom: 1px solid @box-border-color;
  display: flex;
  align-items: center;
}
