.page-title {
  .header-text(27px, 30px);
  margin: 0;
}

.page-title__wrapper {
  min-height: 177px;
  padding: 0 30px;
  background-color: @header-bg-color;
  display: flex;
  align-items: center;
  justify-content: center;
}
