.page-title {
  background-color: @header-bg-color;
  position: relative;

  @media (min-width: @tablet-width) {
    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 23px;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-size: contain;
      bottom: 0;
      left: 0;
    }
  }

  @media (min-width: @desktop-width) {
    min-height: 208px;
    margin-bottom: 81px;

    &::after {
      background-image: url("../img/bg-zigzag-fill.svg");
      height: 34px;
      background-size: contain;
      bottom: -1px;
      left: 0;
    }
  }
}

.page-title__container {
  min-height: 177px;
  padding: 50px 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: @tablet-width) {
    padding: 37px 50px;
    min-height: 174px;
    margin-bottom: 37px;
    align-items: flex-start;
  }

  @media (min-width: @desktop-width) {
    min-height: 208px;
    margin-bottom: 81px;
  }
}

.page-title__header {
  .header-text(27px, 30px);
  margin: 0;
  text-align: center;

  @media (min-width: @tablet-width) {
    .header-text(43px, 50px);
  }

  @media (min-width: @desktop-width) {
    .header-text(53px, 57px);
  }
}
