.product {
  padding-bottom: 30px;
}

.product__title {
  .header-text(17px, 24px);
  margin: 0;
  margin-bottom: 6px;
}

.product__description {
  .normal-text(13px, 30px);
  margin: 0;
  margin-bottom: 41px;
}

.product__info-container {
  padding: 27px 28px;
  border: 1px solid @box-border-color;
}

.product__price {
  .header-text(15px, 24px);
}
