.product-catalog__title {
  .header-text(27px, 30px);
  margin: 0;

  &-wrapper {
    min-height: 177px;
    padding: 0 30px;
    background-color: #F1F1F1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.product-catalog__list {
  .no-markers();
  padding: 30px 30px 0 30px;
}
