.product {
  padding-bottom: 30px;

  @media (min-width: @tablet-width) {
    display: flex;
    padding-bottom: 53px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
    padding-bottom: 0;
  }
}

.product__info-container:hover {
  box-shadow: 0 6px 10px @product-box-shadow;
}

.product__info-container:active {
  box-shadow: 0 3px 5px @product-box-shadow;
}

.product__link--title:focus,
.product__link--title:hover {
  opacity: 0.6;
}

.product__link--title:active {
  opacity: 0.3;
}

.product__title {
  .header-text(17px, 24px);
  margin: 0;
  margin-bottom: 6px;

  @media (min-width: @tablet-width) {
    .header-text(20px, 24px);
  }
}

.product__image {
  width: 100%;
  height: auto;

  @media (min-width: @tablet-width) {
    width: 334px;
    height: 334px;
  }

  @media (min-width: @desktop-width) {
    width: 316px;
    height: 462px;
  }
}

.product__description {
  .normal-text(13px, 30px);
  margin: 0;
  padding-bottom: 18px;

  @media (min-width: @tablet-width) {
    .normal-text(15px, 30px);
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 13px;
  }
}

.product__info-container {
  padding: 26px 27px;
  border: 1px solid @box-border-color;

  @media (min-width: @tablet-width) {
    flex-grow: 1;
    padding: 26px 32px 25px;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
  }

  @media (min-width: @desktop-width) {
    padding: 25px 31px 24px 26px;
  }
}

.product__price-wrapper {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid @box-border-color;
  padding-top: 22px;

  @media (min-width: @tablet-width) {
    margin-top: auto;
  }
}

.product__price {
  .header-text(15px, 24px);

  @media (min-width: @tablet-width) {
    .header-text(17px, 24px);
  }
}

.product__cart-button:hover .product__cart-icon,
.product__cart-button:focus .product__cart-icon {
  fill: @main-cyan;
  opacity: 1;
}

.product__cart-button:active .product__cart-icon {
  fill: @main-cyan;
  opacity: 0.3;
}
