.product {
  padding-bottom: 30px;

  @media (min-width: @tablet-width) {
    display: flex;
    padding-bottom: 53px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
    padding-bottom: 0;
  }
}

.product__title {
  .header-text(17px, 24px);
  margin: 0;
  margin-bottom: 6px;

  @media (min-width: @tablet-width) {
    .header-text(20px, 24px);
  }
}

.product__image {
  width: 260px;
  height: 195px;

  @media (min-width: @tablet-width) {
    width: 334px;
    height: 334px;
  }

  @media (min-width: @desktop-width) {
    width: 316px;
    height: 462px;
  }
}

.product__description {
  .normal-text(13px, 30px);
  margin: 0;
  padding-bottom: 41px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    background-color: @box-border-color;
    top: 66%;
    left: 0;
  }

  @media (min-width: @tablet-width) {
    .normal-text(15px, 30px);

    &::after {
      top: 89%;
    }
  }

  @media (min-width: @desktop-width) {
    &::after {
      top: 71%;
    }
  }
}

.product__info-container {
  padding: 26px 27px;
  border: 1px solid @box-border-color;
  display: grid;
  grid-template-rows: min-content 1fr min-content;

  @media (min-width: @tablet-width) {
    flex-grow: 1;
    padding: 26px 32px 25px;
  }

  @media (min-width: @desktop-width) {
    padding: 25px 31px 20px 26px;
  }
}

.product__price-wrapper {
  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    margin-top: auto;
  }
}

.product__price {
  .header-text(15px, 24px);

  @media (min-width: @tablet-width) {
    .header-text(17px, 24px);
  }
}

.product__order-button {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 21px;
    height: 18px;
    background-image: url("/img/icon-cart.svg");
    top: 0;
    left: -19px;
  }
}
