.review {
  margin-bottom: 89px;
  .normal-text(15px, 30px);

  @media (min-width: @tablet-width) {
    .normal-text(17px, 30px);
    background-color: @header-bg-color;
    padding-top: 82px;
    padding-bottom: 47px;
    position: relative;
  }

  @media (min-width: @desktop-width) {
    padding-top: 78px;
    padding-left: 225px;
    padding-bottom: 96px;
  }
}

.review__title {
  margin-top: 0;
  margin-bottom: 14px;
  .header-text(25px, 30px);

  @media (min-width: @tablet-width) {
    .header-text(43px, 50px);
    margin-bottom: 38px;
  }

  @media (min-width: @desktop-width) {
    .header-text(53px, 57px);
    margin-bottom: 35px;
  }
}

.review__item {
  margin: 0;
  margin-bottom: 30px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.review__text {
  margin: 0;
  margin-bottom: 33px;

  @media (min-width: @tablet-width) {
    margin-bottom: 61px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 44px;
  }
}

.review__author-info {
  @media (min-width: @tablet-width) {
    display: inline-block;
    width: 36%;
  }
}

.review__author-name {
  .header-text(17px, 24px);
  font-style: normal;
}

.review__author-login {
  .normal-text(17px, 30px);
}

.review__toggles {
  width: 100%;
  border: 1px solid @box-border-color;
  margin-bottom: 38px;
  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    position: absolute;
    top: 77%;
    left: 74%;
    width: 20%;
    border: none;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    top: 66%;
    left: 81%;
    width: 15%;
  }
}

.review__arrow {
  display: inline-block;
  width: 49%;
  min-height: 52px;
  margin: 0;
  background-color: transparent;
  border: none;
}

.review__write {
  font-size: 18px;

  @media (min-width: @tablet-width) {
    position: absolute;
    width: 175px;
    top: 19%;
    left: 70%;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    left: 80%;
  }
}
