.review {
  margin-bottom: 89px;
  .normal-text(15px, 30px);
}

.review__title {
  margin-top: 0;
  margin-bottom: 14px;
  .header-text(25px, 30px);
}

.review__wrapper {
  padding: 0 30px;
}

.review__item {
  margin: 0;
  margin-bottom: 30px;
}

.review__text {
  margin: 0;
  margin-bottom: 33px;
}

.review__author-name {
  .header-text(17px, 24px);
  font-style: normal;
}

.review__author-login {
  .normal-text(17px, 30px);
}

.review__toggles {
  width: 100%;
  border: 1px solid @box-border-color;
  margin-bottom: 38px;
  display: flex;
  justify-content: space-between;
}

.review__arrow {
  display: inline-block;
  width: 49%;
  min-height: 52px;
  margin: 0;
  background-color: transparent;
  border: none;
}

.review__write {
  font-size: 18px;
}
