.social {
  display: flex;
  flex-grow: 1;
  align-items: center;

  @media (min-width: @tablet-width) {
    flex-grow: 0;
  }
}

.social__item {
  display: inline-block;
}

.social__list {
  .no-markers();
}
