.video {
padding: 0 30px;
}

.video__wrapper {
  width: 100%;
  min-height: 503px;
  border: 1px solid @box-border-color;
  padding-top: 22px;
  padding-bottom: 33px;
  margin-bottom: 58px;
}

.video__title {
  .header-text(17px, 24px);
  margin:0;
  margin-left: 91px;
  margin-bottom: 26px;
}

.video__media {
  margin-bottom: 35px;
}

.video__description {
  .normal-text(13px, 24px);
  margin: 0;
  margin-left: 34px;
  margin-bottom: 41px;
}
