.video {
  margin-bottom: 18px;

  @media (min-width: @tablet-width) {
    margin-bottom: 25px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 63px;
  }
}

.video__border-wrapper {
  border: 1px solid @box-border-color;
  padding-top: 22px;
  padding-bottom: 33px;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    padding-top: 0;
    padding-bottom: 44px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 682px 1fr;
    grid-template-rows: 152px 152px 152px;
    grid-column-gap: 79px;
    padding-bottom: 0;
  }
}

.video__border-wrapper:hover {
  box-shadow: 0 6px 10px @product-box-shadow;
}

.video__border-wrapper:active {
  box-shadow: 0 3px 5px @product-box-shadow;
}

.video__video-wrapper {
  order: 1;
  margin-bottom: 35px;
  position: relative;

  @media (min-width: @tablet-width) {
    order: 0;
    margin-bottom: 42px;
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    grid-row-start: 1;
    grid-row-end: -1;
    margin-bottom: 0;
  }
}

.video__title {
  .header-text(17px, 24px);
  margin: 0;
  padding-left: 91px;
  padding-right: 30px;
  margin-bottom: 26px;
  position: relative;

  @media (min-width: @tablet-width) {
    .header-text(20px, 24px);
    padding-left: 107px;
    order: 1;
    margin-bottom: 24px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    padding: 0;
    padding-top: 96px;
    padding-right: 50px;
  }

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 32px;
    height: 22px;
    background-image: url("../img/icon-video.svg");
    top: 11px;
    left: 33px;

    @media (min-width: @tablet-width) {
      top: -3px;
      left: 41px;
    }

    @media (min-width: @desktop-width) {
      top: 46px;
      left: -1px;
    }
  }
}

.video__media {
  width: 100%;
  height: auto;

  @media (min-width: @tablet-width) {
    width: 668px;
    height: 455px;
    order: 0;
  }

  @media (min-width: @desktop-width) {
    width: 682px;
    margin-bottom: 0;
  }
}

.video__description {
  .normal-text(13px, 24px);
  margin: 0;
  padding-left: 34px;
  padding-right: 30px;
  margin-bottom: 41px;
  order: 2;
  text-align: justify;

  @media (min-width: @tablet-width) {
    .normal-text(15px, 30px);
    padding-left: 40px;
    text-align: start;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 2;
    margin: 0;
    padding: 18px 20px 15px 0;
  }
}

.video__button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 76px;
  border: none;
  padding: 0;
  background-color: transparent;
  transform: translate(-50%, -50%);
  cursor: pointer;
  outline: none;
}

.video__button:hover .video__button-svg {
  transform: scale(1.2, 1.2);
}

.video__button:focus .video__button-svg {
  transform: scale(1.2, 1.2);
}

.video__button:active .video__button-svg {
  transform: scale(0.8, 0.8);
  fill-opacity: 0.7;
}

.video__order {
  .header-text(18px, 16px);
  order: 3;
  display: block;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 584px;
    font-size: 17px;
  }

  @media (min-width: @desktop-width) {
    width: 80%;
    grid-column-start: 2;
    align-self: start;
    margin: 0;
    margin-top: 40px;
  }
}
