// Media
@mobile-widths-only: "max-width: 767px";
@tablet-widths: "min-width: 768px";
@desktop-widths: "min-width: 1200px";
@retina-dpi: "min-resolution: 144dpi";
@retina-dppx: "min-resolution: 1.5dppx";

// Colors
@basic-white: #FFFFFF;
@basic-black: #000000;
@text-black: #444444;
@burger-black: #231F20;
@fcking-nonsence-black: #010000;

@main-cyan: #63D1BB;
@main-cyan-hover: #59D5BC;
@dark-cyan: #56C3B2;
@dark-cyan-hover: #46C1AE;

@input-button: #62D1BA;

@icon-cyan: #149080;
@pin-cyan: #6BC6B3;
@header-bg-color: #F1F1F1;
@box-border-color: #ECECEC;
@box-shadow: rgba(0, 1, 1, 0.25);
@icon-opacity-black: rgba(0, 0, 0, 0.2);
@placeholder-black: rgba(0, 0, 0, 0.3);
@link-hover: rgba(0, 0, 0, 0.6);
@popup-opacity: rgba(68, 68, 68, 0.1);

// Fonts
@main-font: "Open Sans", "Arial", sans-serif;
